torch~=2.3.1+cu118
torchvision~=0.18.1+cu118
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu118
tqdm~=4.66.4
confz~=2.0.1
numpy~=1.26.4
pandas~=2.2.2
ultralytics~=8.2.50
opencv-python~=4.10.0.84
timm==0.9.16

uvicorn~=0.30.1
fastapi~=0.111.0
starlette~=0.37.2